@import "../../global.scss";

.portfolioList {
  font-size: 12px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  @include mobile {
    padding: 10px;
    margin: 10px;
  }
  &.active {
    background-color: #15023a;
    color: white;
  }
}
