.carousel-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(227, 229, 237);
  box-shadow: 0px 0px 55px -8px;

  //   padding-top: 5%;
}

.carousel-image {
  position: absolute;
  //   top: 0;
  //   left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 50px;
  border-color: black;
  opacity: 80%;
  //   margin-top: 50px;
  //   margin-bottom: 50px;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 36px;
  color: white;
  cursor: pointer;
  outline: none;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 90%;
  bottom: 10px;
  //   height: 20%;
  p {
    color: white;
    text-shadow: blue;
    // text-shadow: ;
  }
}
.carousel-prev {
  left: 0;
}

.carousel-next {
  right: 0;
}
