@import url("https://fonts.googleapis.com/css?family=Numans");

.clientsalbums {
  background-image: url("../../../public/assets/p4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
body h1 {
  font-size: 30px;
  color: #15023a;
  background-color: white;
  text-align: center;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(21, 2, 58, 0.4) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span a {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}

.social_icon span a:hover {
  color: white;
  cursor: pointer;
}

.social_icon span :hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ffc312;
  color: #15023a;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.form-group input {
  color: #15023a;
  background-color: #ffc312;
  width: 100px;
}

.form-group input:hover {
  color: #15023a;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
